.App {
    text-align: left;
}

.App-logo {
    height: 40px;
}

.App-header {
    flex: none;
    padding-top: 5px;
    padding-left: 5px;
    background-color: #222;
    height: 10vh;
    color: white;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    display: flex;
}
